<div class="users-container">
  <h2>Users</h2>

  @if(isLoggedIn) {
  <a class="add-user-link" [routerLink]="['/users/add']">Add User</a>
  } 
  @if(isLoading){

  <mat-spinner class="spinner" />
  } @else{ @if(!users.length) {
  <p>No users.</p>
  } @else if(isError) {
  <p>An error ocurred during retreiving data.</p>
  }}
  <app-users-table
    [users]="users"
    (deleteUserEvent)="deleteUser($event)"
    (sortChanged)="sortChanged($event)"
    (filterChanged)="filterChanged($event)"
  />
</div>
